body {
    margin: 1%;
}

#buttons-container {
    margin-top: 20px;
    position: relative;
    width: 90vw;
    height: 80vh;
    gap: 10px;
}

button {
    height: 5em;
    width: 10em;
    font-size: 16px;
}

#create-buttons {
    height: min-content;
    width: min-content;
}

#game-message {
    margin-top: 10px;
}
